#outerdiv
{
    height: 200px;
    width:70px;
    border:2px solid black;

}

#innerdiv
{
    height: 50px;
    width:50px;
    border:2px solid black;
    margin:10px;
    border-radius: 50%;
}

#innerdiv:nth-of-type(1)
{
    background-color: red;

}

#innerdiv:nth-of-type(2)
{
    background-color: yellow;
}

#innerdiv:nth-of-type(3)
{
    background-color: green;

}
