*
{
    margin:0px;
    padding:0px;
}

header
{
    margin-top:1%;
    margin-bottom:2%;
}

#nav
{
    display:flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height:48px;
}

#navitem
{
    margin-left:1.5%;
    margin-right:1.5%;
    color:rgb(43, 43, 43);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 110%;
    font-style: bold;

}

#navitem a
{
    color:rgb(43, 43, 43);
    text-decoration: none;
}

#navitem a:hover
{
    color:rgb(111, 0, 255);
}

#firstsection
{
    margin-top:4%;
    display:flex;
    justify-content: space-around;
    height: 260px;
}

#infosection
{
    display:flex;
    flex-direction:coloumn;
    justify-content: center;
}

#imgsection
{
    display:flex;
    justify-content: flex-end;
}
#imgsection img
{
    height: 100%;
    border-radius:50%;
}

#firstsection #contactsec #first
{
  font-size:400%;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  margin-bottom:8%;
}

#contactsec
{
    display:flex;
    flex-direction:column;
    justify-content: center;
}

#firstsection #contactsec #text1, #firstsection #contactsec #text2
{
  font-size: 120%;
  margin-bottom:4%;
}
