h1,h3
{
    font-family: Rockwell;
    text-align: center;
    color: rgb(172, 161, 255);
}
h1
{
    font-size: 80px;
}
h3
{
    color:rgb(31, 170, 27);
    font-size:40px;
}
h4
{
    font-size:20px;
    font-family: Rockwell;
    color:rgb(172, 161, 255);
}
button
{
    background-color: rgb(0, 255, 238);
    color: rgb(0, 0, 0);
}
form
{ 
    color:rgb(0, 255, 238);
}
body{
    background-color: rgb(0, 0, 0);
    color:white;
    line-height: 1.5;
    letter-spacing: 1px;
}
a{
    text-decoration: none;
    color: rgb(0, 55, 255);
}
li
{
    font-size:16px;
    font-family: Helvetica;
    color:rgb(0, 255, 238);
}
footer
{
    text-align: center;
    color:rgb(255, 255, 255);
}
p
{
    font-size:16px;
    font-family: Helvetica;
}