h1,h3
{
    font-family: Rockwell;
    text-align: center;
    color: rgb(172, 161, 255);
}
h1
{
    font-size: 80px;
}
h3
{
    color:rgb(172, 161, 255);
    font-size:40px;
}
h4
{
    font-size:20px;
    font-family: Rockwell;
    color:rgb(172, 161, 255);
}
button
{
    box-shadow: 2px 2px 3px rgb(235, 211, 255);
    display:block;
    border:none;
    border-radius:4px;
    transition-duration: 0.8s;
    padding: 4px 12px 4px 12px;
    background-color: rgb(186, 102, 255);
    color: rgb(255, 255, 255);
}

button:hover
{
    box-shadow: 2px 2px 6px rgb(238, 218, 255);
    border-radius:12px;
    background-color: rgb(168, 61, 255);
    transition-duration: 0.8s;
    transform: scale(1.04) translateY(-6px);  
}
form
{ 
    box-shadow:6px 6px 12px rgb(202, 137, 255);
    transition-duration: 0.7s;
    border-radius: 16px;
    color:rgb(0, 255, 238);
    padding:80px 0px 80px 96px;
    background-color: rgb(31, 26, 36);
    margin:0px 320px 0px 320px;
}
form:hover
{
    box-shadow:8px 8px 32px rgb(221, 179, 255);
    border-radius:72px 0px 72px 0px;
    transform: scale(1.01);
    transition-duration: 0.7s;
    background-color: rgb(25, 25, 25);
}
body{
    margin-left:64px;
    background-color: rgb(0, 0, 0);
    color:white;
    line-height: 1.5;
    letter-spacing: 1px;
}
a{
    transition-duration: 0.5s;
    text-decoration: none;
    color: rgb(140, 0, 255);
}
a:hover
{
    transition-duration: 0.5s;
    color: rgb(202, 137, 255);
}
li
{
    transition-duration: 1s;
    font-size:16px;
    font-family: Helvetica;
    color:rgb(0, 255, 238);
}
footer
{
    text-align: center;
    color:rgb(255, 255, 255);
}
p
{
    font-size:16px;
    font-family: Helvetica;
}

ul li:hover
{
    transition-duration: 1s;
    transform: translateX(16px);
}

ol li:hover
{
    transition-duration: 1s;
    transform: translateX(16px);
}

#image
{
    transition-duration: 0.8s;
}

#image:hover
{
    transform: scale(1.1) translateX(16px );
    border-radius: 8px 32px 8px 32px;
    transition-duration: 0.8s;
}

input[type="radio"]
{
    display:inline;
}

input[type="radio"]:checked+label
{
    color:rgb(0, 255, 76);
}

input[type="checkbox"]:checked+label
{
    color:rgb(0, 255, 76);
}

li::selection,a::selection,p::selection,label::selection
{
    background-color: white;
    color:black;
}

p::first-letter
{
font-size: 28px;
font-weight: bold;
}

input
{
    margin:0px 2px 0px 2px;
    margin-bottom:24px;
    display: block;
    transition-duration: 0.4s;
}
input:focus-visible
{
    outline:none;
    border: 2px rgb(168, 61, 255) solid;
    border-radius: 8px;
    transition-duration: 0.4s;
    transform: scale(1.03);
    background-color: rgb(215, 215, 215);
}
input[type="email"],input[type="number"],input[type="text"]
{
    height:20px;
    width:160px;
}

footer
{
    background-color:rgb(25, 25, 25);
}

select
{
    margin :0px 2px 0px 2px;
    margin-bottom:24px;
    display:block;
}

input[type="checkbox"]
{
    display:inline;
}

#footer
{
    padding-top:64px;
    margin-top:64px;
    margin-right:64px;
}

#img, #table
{
    display:flex;
    flex-direction: row;
    justify-content:center;
}