h1,h3
{
    text-align: center;
    color: rgb(171, 61, 249);
}
h4
{
    color:rgb(171, 61, 249);
}
button
{
    background-color: black;
    color: white;
}
form
{
    background-color: rgb(57, 57, 57);
    color:rgb(255, 196, 0);
}
body{
    background-color: rgb(28, 28, 28);
    color:white;
    line-height: 1.5;
    letter-spacing: 1px;
}
a{
    text-decoration: none;
    color: rgb(0, 179, 255);
}
li{
    color:rgb(255, 196, 0);
}
footer
{
    color:rgb(245, 78, 167);
}